[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apiflask = "*"
flask-admin = "*"
flask-security-too = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
loguru = "*"
numpy = "*"
psycopg2 = "*"
alembic = "*"
cryptography = "*"
rich = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-playwright = "*"

[requires]
python_version = "3.11"
