<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator_bulma.min.css">
  <!--link rel="stylesheet" href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator_simple.min.css"-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css">

  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  <script src="https://unpkg.com/chart.js@4.4.0"></script>
  <script src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>

  <script src="../../static/js/utils.js"></script>

  <title>Charting</title>
</head>

<body id="body">
  <section class="section">
    <div class="container">
      <h1 class="title">
        Chart
      </h1>
      <hr></hr>
      <div class="field">
        <input id="switchSalesView" type="checkbox" name="switchSalesView" class="switch"
          onchange="toggleView(this, Chart.getChart('lineChartId'))"
          autocomplete="off">
        <label for="switchSalesView">As Percentage</label>
      </div>
      <canvas
        hx-get="/api/v1/data/sales"
        hx-trigger="load"
        hx-indicator='.htmx-indicator'
        hx-swap="beforeend"
        hx-target="body"
        id="lineChartId"></canvas>
      <sup>source: https://data.bts.gov/Research-and-Statistics/Auto-Sales/7n6a-n5tz</sup>
      <progress class="progress is-small htmx-indicator" max="100"></progress>
    </div>
  </section>
  <section class="section">
    <div class="container">
    <div class="columns">
      <div class="column">
        <div class="field">
          <button
            class="button"
            hx-get="/api/v1/data/random"
            hx-trigger="click, load"
            hx-swap="beforeend"
            hx-target="body">populate</button>
        </div>
      </div>
      <div class="column is-10">
        <canvas id="chartId" />
      </div>
    </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="is-striped" id="death-table" hx-get="/api/v1/data/deaths" hx-trigger="revealed"></div>
      <sup>source: https://www150.statcan.gc.ca/n1/daily-quotidien/231127/t001b-eng.htm</sup>
    </div>
  </section>

  <script>
    // HTMX CSRF Token
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
    // chartjs + htmx with payload in HX-Trigger
    document.body.addEventListener("drawChart", function(evt){
      const chart = Chart.getChart(evt.detail.target)
      // https://www.reddit.com/r/htmx/comments/10sdk43/comment/j72m2j7/
      data = JSON.parse(document.getElementById(evt.detail.dataId).textContent);
      addData(chart, data.datasets, data.labels);
      document.getElementById(evt.detail.dataId).remove()
    })

    new Chart(
      document.getElementById("chartId"),
      {
        type: "bar",
        options: {
          responsive: true,
          title: {
            display: false,
            text: ""
          }
        },
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']
        }
      }
    );

    new Chart(
      document.getElementById("lineChartId"),
      {
        type: "line",
        plugins: [arbLines],
        options: {
          events: ['mousedown', 'mouseup', 'mousemove'],
          responsive: true,
          plugins: {
            legend: {
              position: "top",
            },              
            title: {
              display: true,
              text: "Vehicles Sales"
            },
            tooltip: {
              position: 'average',
            }
          },
          interaction: {
            axis: 'x',
            intersect: false,
            mode: 'nearest',
          }
        },
      }
    );
  </script>
</body>
</html>
