{% extends "base.html" %}
{% block title %}login{% endblock %}

{% block body_content %}
  {% if login_user_form.email.errors or login_user_form.password.errors %}
    {% set error_class = " is-danger" %}
  {% endif %}
  <section class="hero is-primary is-fullheight">

    <div class="hero-body">
      <div class="container">

        <div class="columns is-centered">
          <div class="column is-two-fifths">
            <h3 class="title has-text-white">Login to xyz</h3>
            <hr />
            <form action="/api/login" method="POST" class="box">
              {{ login_user_form.hidden_tag() }}
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" name="email" value="{{ login_user_form.email.data or '' }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" name="password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <input type="hidden" name="remember" value="false">
              <div class="field">
                <p class="control">
                  <button class="button is-primary{{ error_class}}" type="submit">
                    Login
                  </button>
                </p>
                {% if error_class %}
                <p class="help is-danger">Login failed. Please verify email and password.</p>
                {% endif %}
              </div>
            </form>

            <p class="mt-6 has-text-centered">
              Don't have an account? Create one <a href="/api/register" class="tag is-white is-medium">here</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
