{% extends "base.html" %}
{% block title %}register{% endblock %}
{% block body_content %}
  <section class="hero is-primary is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-fifths">
            <form action="/api/register" method="POST" class="box">
              {{ register_user_form.hidden_tag() }}
              <div class="field">
                <label for="email">Email</label>
                <input class="input is-primary" type="email" placeholder="Email address" name="email" required>
              </div>
              <div class="field">
                <label for="Name">Password</label>
                <input class="input is-primary" type="password" placeholder="Password" name="password" required>
                </label>
              </div>
              <div class="field">
                <input type="checkbox" name="legal">
                  I agree to the <a href="#" class="has-text-primary">terms and conditions</a>
              </div>
              <div class="field">
                <button class="button is-primary is-fullwidth" type="submit">Create an account</button>
              </div>
            </form>
            <div class="has-text-centered">
              <p> Already have an account? <a href="/api/login" class="tag is-white is-medium">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
